<header class="masthead mt-5">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-light p-2" style="height:80px" id="mainNav">
        <button class="navbar-toggler navbar-toggler-right bg-dark" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> 
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0 " >
                <li class="nav-item mr-5">
                    <a href="#page-top"><img src="./assets/img/logo1.png" alt="Check-in" height='80' width='80'></a>
                </li>    
                <li class="nav-item my-2 ml-3">
                    <a class="nav-link text-success js-scroll-trigger" style="font-size:20px;font-weight:normal" href="#didau">Đi đâu ?</a>
                </li>
                <li class="nav-item my-2 ml-3">
                        <a class="nav-link text-success js-scroll-trigger" style="font-size:20px;font-weight:normal" href="#angi">Ăn gì ?</a>
                </li>
                <li class="nav-item my-2 ml-3">
                        <a class="nav-link text-success js-scroll-trigger" style="font-size:20px;font-weight:normal" href="#contact">Liên hệ</a>
                </li>
            </ul>
            <form class="form-inline">
                    <input class="form-control ml-sm-3" type="text" placeholder="Search....">
                    <button class="btn btn-outline-success mr-2 my-lg-0" type="submit">Tìm Kiếm</button>
            </form> 
        </div>      
    </nav>
    <!-- Masthead -->
    <div class="container mt-3 ">
        <div class="row h-auto align-items-center justify-content-center text-center">
              <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">Check-in Hà Nội</h1>
                <hr class="divider my-4">
              </div>
            <div class="container border border-primary  rounded" style="height:150px; width:100%">
                <div class="row">
                     <div class="col-2 my-2 rounded">
                       <img src="./assets/img/cauthehuc.jpg" alt="Cầu Thê Húc" height='130px' width='100%'>
                     </div>
                    <div class="col-2 my-2 rounded">
                        <img src="./assets/img/hoguom.jpg" alt="Hồ Gươm" height='130px' width='100%' >
                    </div>
                    <div class="col-2 my-2 rounded">
                        <img src="./assets/img/hotay.jpg" alt="Hồ Tây" height='130px' width='100%' >
                    </div>
                    <div class="col-2 my-2 rounded">
                        <img src="./assets/img/quoctugiam.jpg" alt="Văn miếu Quốc Tử Giám" height='130px' width='100%' >
                    </div>
                    <div class="col-2 my-2 rounded">
                       <img src="./assets/img/langbac.jpg" alt="Lăng Bác" height='130px' width='100%' >
                    </div>
                   <div class="col-2 my-2 rounded">
                        <img src="./assets/img/caulongbien.jpg" alt="Cầu Long Biên" height='130px' width='100%' >                     </div>
                    </div>
                </div>               
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 font-weight-light mb-4 mt-2 " style="font-size: 20.5px">
                    Nếu lần đầu tiên bạn đặt chân đến Hà Nội - Thủ đô ngàn năm văn hiến, Thủ đô xanh, Thủ đô Hoà bình chắc chắn rằng bạn sẽ cảm thấy vô cùng thích thú và yêu mến. Từ cảnh vật nơi đây đến con người mảnh đất này, tất cả đều khiến mọi thứ trở nên thân thương đến lạ. Để có một chuyến đi hoàn hảo và trọn vẹn các bạn hãy cùng <b>Check-in Hà Nội</b> khám phá lần đầu đến Hà Nội và những điều nên biết để khỏi bỡ ngỡ nha!</p>
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#didau">Xem Thêm</a>
                </div>
        </div>
    </div>            
</header>

<!-- Đi đâu  Section -->

<section class="page-section mt-0" id="didau">
        <div class="container h-100 w-100 ">
          <h2 class="text-center mt-0 text-success" style="font-size:35px">Đi đâu ?</h2>
          <hr class="divider my-2">
          <p class="text-muted mb-0 text-center" style="font-size:22px">Những địa điểm không thể bỏ qua khi đến với Hà Nội</p>
          <div class="row">
            <div class="col-lg-3 col-md-6 text-center ">
              <div class="mt-5 ">
                <img src="./assets/img/1.jpg" alt="Hồ Gươm" height='130px' width='100%' >
                <i class=" text-primary mb-4"></i>
                <h3 class="h4 mb-2">Hồ Gươm</h3>
                <p class="text-muted mb-0">Hồ Gươm hay hồ Hoàn Kiếm là một trong những nơi nên đến ở Hà Nội khi du lịch thủ đô. Nằm ở giữa trung tâm, Hồ Gươm được ví như trái tim của thành phố ngàn năm tuổi này.. Mặt hồ như tấm gương lớn soi bóng những cây cổ thụ, những rặng liễu thướt tha tóc rủ, những mái đền, chùa cổ kính, tháp cũ rêu phong, các toà nhà mới cao tầng vươn lên trời xanh...</p>
               
              </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center ">
              <div class="mt-5 ">
                <img src="./assets/img/3.jpg" alt="Lăng Bác" height='130px' width='100%' >
                <i class=" text-primary mb-4"></i>
                <h3 class="h4 mb-2">Lăng Bác</h3>
                <p class="text-muted mb-0">Nếu đã đặt chân tới mảnh đất ngàn năm văn hiến thì Lăng Bác – Quảng trường Ba Đình là địa điểm du lịch ở Hà Nội mà các bạn không thể bỏ qua. Nơi đây là trung tâm chính trị của Việt Nam với nhà Quốc hội, Phủ Chủ tịch, Bảo tàng Hồ Chí Minh,…</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center ">
              <div class="mt-5">
                <img src="./assets/img/4.jpg" alt="Cầu Long Biên" height='130px' width='100%' >
                <i class=" text-primary mb-4"></i>
                <h3 class="h4 mb-2">Cầu Long Biên</h3>
                <p class="text-muted mb-0">Nhắc đến những địa điểm du lịch Hà Nội thì không thể không kể tới cầu Long Biên. Cầu được Pháp xây dựng từ năm 1898, là cây cầu thép đầu tiên bắc qua sông Hồng. Cầu Long Biên gắn liền với hai cuộc kháng chiến chống Pháp và chống Mỹ của dân tộc, được coi là biểu tượng của Hà Nội trong những năm tháng khó khăn vất vả... </p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center ">
              <div class="mt-5">
                <img src="./assets/img/2.jpg" alt="Hồ Tây" height='130px' width='100%' >
                <i class=" text-primary mb-4"></i>
                <h3 class="h4 mb-2">Hồ Tây</h3>
                <p class="text-muted mb-0">Hồ Tây một trong những danh thắng nổi tiếng của thủ đô Hà Nội, đây được coi là một “sân khấu khổng lồ soi bóng mây trời và cảnh quan thành phố”. Khung cảnh ven hồ Tây vô cùng thi vị, mơ mộng. Bao quanh hồ là những hàng cây xanh cao thẳng tắp, rồi những bồn hoa , thềm cỏ xanh mướt mọc xung quanh đã tạo ra một khung cảnh đặc biệt cho hồ Tây....</p>
              </div>
            </div>
          </div>
        </div>
        <div class="container mt-5 mb-0 boder boder-bot-success ">
          <div class="row h-auto align-items-center justify-content-center text-center">
        <div class="col-lg-4 align-self-baseline">
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#angi">Xem Thêm</a>
        </div>
      </div>
    </div>
</section>

<!-- Ăn gì Section -->
<section id="angi">
        <div class="container-fluid p-0 h-100 w-80">
           <h2 class="text-center mt-0 text-success" style="font-size:35px"> Ăn gì ?</h2>
          <hr class="divider my-2">
          <p class="text-muted mb-3 text-center" style="font-size:22px">Những món ăn đặc trưng của Hà Nội</p>
          <div class="row no-gutters">
            <div class="col-lg-4 col-sm-6">
              <a class="portfolio-box " href="./assets/img/portfolio/fullsize/1.jpg" >
                <img  src="./assets/img/portfolio/thumbnails/1.jpg" height='250px' width='100%' alt="">
                <div class="portfolio-box-caption">
                  <div class="project-name text-center my-2 text-info " style="font-size:22px">
                    Phở bò
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-sm-6">
              <a class="portfolio-box" href="./assets/img/portfolio/fullsize/2.jpg" >
                <img  src="./assets/img/portfolio/thumbnails/2.jpg"height='250px' width='100%' alt="">
                <div class="portfolio-box-caption">
                   <div class="project-name text-center my-2 text-info " style="font-size:22px">
                    Chả cá Lã Vọng
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-sm-6">
              <a class="portfolio-box" href="./assets/img/portfolio/fullsize/3.jpg"  >
                <img  src="./assets/img/portfolio/thumbnails/3.jpg" height='250px' width='100%' alt="">
                <div class="portfolio-box-caption">
                  <div class="project-name text-center my-2 text-info " style="font-size:22px">
                    Bún đậu mắm tôm
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-sm-6">
              <a class="portfolio-box" href="./assets/img/portfolio/fullsize/4.jpg" >
                <img  src="./assets/img/portfolio/thumbnails/4.jpg" height='250px' width='100%' alt="">
                <div class="portfolio-box-caption">
                   <div class="project-name text-center my-2 text-info " style="font-size:22px">
                    Bún thang
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-sm-6">
             <a class="portfolio-box" href="./assets/img/portfolio/fullsize/5.jpg" >
                <img  src="./assets/img/portfolio/thumbnails/5.jpg" height='250px' width='100%' alt="">
                <div class="portfolio-box-caption">
                   <div class="project-name text-center my-2 text-info " style="font-size:22px">
                    Bánh cuốn
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-sm-6">
              <a class="portfolio-box" href="./assets/img/portfolio/fullsize/6.jpg">
                <img  src="./assets/img/portfolio/thumbnails/6.jpg" height='250px' width='100%' alt="">
                <div class="portfolio-box-caption">
                   <div class="project-name text-center my-2 text-info " style="font-size:22px">
                    Bánh cốm
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
</section>
    
    
      <!-- Contact Section -->
<section class="page-section" id="contact">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
              <h2 class="mt-0">Contact!</h2>
              <hr class="divider my-4">
              <p class="text-muted mb-5 "style="font-size:22px">Nếu bạn cần hướng dẫn viên du lịch hoặc có nhu cầu hỏi đáp, hãy liên hệ chúng tôi để nhận được sự hỗ trợ !
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
              <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
              <div style="font-size:20px" >04.38544244</div>
            </div>
            <div class="col-lg-4 mr-auto text-center">
              <i class="fas fa-envelope fa-3x mb-3 text-muted" ></i>
              <!-- Make e to change the email address in anchor text AND the link surbelow! -->
              <a class="d-block" href="mailto:contact@actvn.edu.vn" style="font-size:20px">contact@actvn.edu.vn</a>
            </div>
          </div>
        </div>
</section>
 <!-- Footer -->
 <footer class="bg-light py-5">
     <div class="container text-center ">
        <button type="button" class="btn btn-sm btn-so">
            <a href="https://twitter.com/" target="_blank">
                <i class="fab fa-twitter fa-2x mb-3 text-muted"></i>
            </a>
        </button>
        <button type="button" class="btn btn-sm btn-so">
                <a href="https://facebook.com/" target="_blank">
                    <i class="fab fa-facebook fa-2x mb-3 text-muted"></i>
                </a>
        </button>
        <button type="button" class="btn btn-sm btn-so">
                <a href="https://instagram.com/" target="_blank">
                     <i class="fab fa-instagram fa-2x mb-3 text-muted"></i>
                </a>
        </button>    
     </div>
        
        <div class="container">
          <div class="small text-center text-muted" style="font-size:15px">Copyright &copy; 2019 - ACTVN</div>
        </div>
        
</footer>