// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
}

// Typography
.text-white-75 {
    $white: white ;
  color: fade-out($white, .25);
}

// Custom horizontal rules
hr.divider {
    $primary: #f4623a;
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: $primary;
}

hr.light {
    $white: white ;
  border-color: $white;
}

// Button restyling
.btn {
    $font-family-sans-serif: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;;
  font-family: $font-family-sans-serif;
}

.btn-xl {
  padding: 1.25rem 2.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}

// Page section padding
.page-section {
  padding: 8rem 0;
}
// Styling for the masthead
header.masthead {
    $brown: #5c4d42 !default ;
    $navbar-height:150px;
    padding-top: 10rem;
    padding-bottom: calc(10rem - #{$navbar-height});
    // replace the masthead.jpg image in the /img directory to change the image
    // if the image name change, make sure to update the url path below!
    background: linear-gradient(to bottom, #{fade-out($brown, .2)} 0%,#{fade-out($brown, .2)} 100%), url('bg-masthead.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    h1 {
      font-size: 2.25rem;
    }
    @mixin gl {
      height: 100vh;
      min-height: 40rem;
      padding-top: $navbar-height;
      padding-bottom: 0;
      p {
        font-size: 1.15rem;
      }
      h1 {
        font-size: 3rem;
      }
    }

    @mixin xl {
      h1 {
        font-size: 3.5rem;
      }
    }
  }
// Base styling for the navbar
#mainNav {
    $box-shadow:box-shadow;
    $white: white;
    box-shadow: $box-shadow;
    background-color: $white;
    transition: background-color 0.2s ease;
    .navbar-brand {
        $font-family-sans-serif:"Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;;
        $font-weight-bold: bold;
        $gray:gray;
      font-family: $font-family-sans-serif;
      font-weight: $font-weight-bold;
      color: $gray;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
            $font-family-sans-serif:"Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;;
        $font-weight-bold: bold;
            $gray:gray;
          color: $gray;
          font-family: $font-family-sans-serif;
          font-weight: $font-weight-bold;
          font-size: 0.9rem;
          padding: 0.75rem 0;
          &:hover,
          &:active {
            $orange: #f4623a ;
            $brown: #5c4d42 !default ;
            
            // Set primary color to orange
            $primary: $orange !default ;
            color: $primary;
          }
          &.active {
            $orange: #f4623a ;
            $primary: $orange !default ;

            color: $primary !important;
          }
        }
      }
    }
    @mixin nlg {
      // Base styling for the navbar - screen sizes greater than the large breakpoint
      box-shadow: none;
      background-color: transparent;
      .navbar-brand {
        color: fade-out($white, .3);
        &:hover {
            $white: white;
          color: $white;
        }
      }
      .navbar-nav {
        .nav-item {
          .nav-link {
            $white: white;
            color: fade-out($white, .3);
            padding: 0 1rem;
            &:hover {
                $white: white;
              color: $white;
            }
          }
          &:last-child {
            .nav-link {
              padding-right: 0;
            }
          }
        }
      }
      // Navbar styling applied when the page is scrolled
      &.navbar-scrolled {
        $white: white;
        $box-shadow:box-shadow;
        box-shadow: $box-shadow;
        background-color: $white;
        .navbar-brand {
            $gray:gray ;
          color: $gray;
          &:hover {
            $primary:#f4623a ;
            color: $primary;
          }
        }
        .navbar-nav {
          .nav-item {
            .nav-link {
                $gray:gray ;
              color: $gray;
              &:hover {
                $primary:#f4623a ;
                color: $primary;
              }
            }
          }
        }
      }
    }
  }
// Styling for the portfolio section
#portfolio {
    .container-fluid {
      max-width: 1920px;
      .portfolio-box {
        position: relative;
        display: block;
        .portfolio-box-caption {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
  
          width: 100%;
          height: 100%;
  
          position: absolute;
          bottom: 0;
  
          text-align: center;
          opacity: 0;
          $white: white ;
          color: $white;
          $primary:#f4623a ;
          background: fade-out($primary, .1);
          transition: opacity 0.25s ease;
          text-align: center;
          .project-category {
            $font-family-sans-serif:"Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;;
            font-family: $font-family-sans-serif;
            font-size: 0.85rem;
            font-weight: 600;
            text-transform: uppercase;
          }
          .project-name {
            font-size: 1.2rem;
          }
        }
        &:hover {
          .portfolio-box-caption {
            opacity: 1;
          }
        }
      }
    }
  }
 // Variables

// Color overrides

// Set a custom color
$white: white ;
$orange: #f4623a ;
$brown: #5c4d42 !default ;

// Set primary color to orange
$primary: $orange !default ;

// Font overrides
$font-family-sans-serif: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;

$font-family-serif: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;

$font-family-base: $font-family-serif !default ;

$headings-font-family: $font-family-sans-serif !default;

// Custom variables
$navbar-height: 72px;
// Import custom variables (overrides Bootstrap default variables)

//font
     